.post {
  height: 40vh;
  width: 30vw;
    margin: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2{
        background-color: black;
        width: 100%;
        padding: 1rem;
        color: white;
    }
    .content{
        height: 100%;
        width: 100%;
        background-color: rgb(235, 237, 237);
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.parentpost{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}